/* CSS Document */

/****************/
/*     grape    */
/*    363d52    */
/****************/

/* Highlights */
.highlight { background:#363d52; color:#fff; } /*change this color*/
.highlightdark { background:#333; color:#fff; }

/* Dropcaps */
p.dropcap2:first-letter{ color:#fff; background:#999; }

/* Selection */
::selection{ background:#363d52; color:#fff; }/*change this color*/
::-moz-selection{ background:#363d52; color:#fff; }/*change this color*/

 /* Home background styling
.mainbody{
	background:url(../images/grape/head_bg.jpg) repeat-x top #fff;
} */

#header{ background:white; }

 /* Page background styling */
.pagesbody{
	background:url(../images/grape/head_pages_bg.html) repeat-x top #fff;  /*change this url*/
}
	#page_title{ color:#fff; }
	#breadcrumbs, #breadcrumbs a, breadcrumbs a:hover{ color:#999; }
	#pagination a:hover { background: #fff; }
	#sidebar div ul li { color:#999; }

/* Footer */
		#footer{ background:#363d52; } 
		#footer h3{ color:#fff; text-shadow:1px 1px 2px #010101; }
		#footer #recent ul li { color:#fff; }
		#footer ul li a, #address { color:#fff; }
		#footer_content{ text-shadow:1px 1px 2px #010101; }
		#copyright{	color:#ccc;	}

/* Forms */
#search_input{ color:#999; }

/* Color type */
a { color:#666; }
a:hover { text-decoration:underline; color:#363d52; }  /*change this color*/
p, ul, ol { color:#666; }
h1, h2, h3, h4, h5, h6, ol li:before { color:#666; }
h2{ text-shadow:0 0 1px #666; } 
h3{ text-shadow:0 0 1px #666; } 
.title1{ color:#363d52; } /*change this color*/
.title1w{ color:#fff; } 
.title2{ color:#666; }
.slogan span, .sloganboxed span{ color:#666; }
.slogancolor span { color:#fff; }
.slogancolor{ background:#363d52; }  /*change this color*/
	
/* Menu */
#menucontainer * { font-family:Arial, Helvetica, sans-serif; font-weight:bold; }

/* Tables */
.table4 thead tr, .table4 tfoot tr, .table2 tfoot tr { background-color:#363d52; color:#fff;  }/*change this color*/
.table2 thead tr, .table2 tfoot tr  { border:1px solid #363d52; color:#fff; }/*change this color*/
.table2 thead tr {  background:url(../images/tablehead.png) no-repeat center top #363d52; }/*change this color*/ /*change this url*/

/* Pricing */
.columnhighlight .pricinghead{ background:#363d52; color:#fff; }