@charset "utf-8";
/* CSS Document */

h1, h2, h3, h4, h4 a, h5, h6, 
ol li:before, 
.title1, .title1w, .title2, .slogan span, .sloganboxed span, .slogancolor span,
.post_title, 
#page_title, .columnhighlight .pricinghead,
.pricing1 thead tr td, .pricing1 tfoot tr td,
.pricing2 thead tr td, .pricing2 tfoot tr td {
	font-family:"Droid Sans", Helvetica, Arial, sans-serif;
}

h1{ font-size: 40px;line-height: 1.2em; }
h2{ font-size: 30px;line-height: 36px; text-shadow:0 0 1px #666; }
h3{ font-size: 24px;line-height: 32px; text-shadow:0 0 1px #666; } 
h4{ font-size: 18px; line-height: 24px; } 
h5{ font-size: 14px; line-height: 18px; } 
h6{ font-size: 12px; line-height: 16px; } 
.title1{ font-size:60px; line-height:60px; } 
.title1w{ font-size:60px; line-height:60px; } 

h4 a { font-family:Arial, Helvetica, Times, sans-serif; }