/* @override http://localhost/bxslider_v3_plugin/css/styles.css */

/*
 * To change the color scheme of slider change each 
 * background property for each of the five styles below
 */

/*next button*/
.bx-next {
	position:absolute; top:40%; right:0; z-index:999;
	width:79px; height:76px; text-indent: -9999px;
	background: none;
}

/*previous button*/
.bx-prev {
	position:absolute; top:40%; left:0; z-index:999;
	width:79px; height:76px; text-indent: -999999px;
	background: none;
}

.bx-wrapper:hover .bx-next {background: url(../images/nav-right.png) no-repeat;}
.bx-wrapper:hover .bx-prev {background: url(../images/nav-left.png) no-repeat;}

/*pager links*/
.bx-pager a {
	margin-right: 5px; display:block; float:left; text-indent:-9999px;
	zoom:1; width:27px; height:26px;
	background: url(../images/nav-button.png) no-repeat;
}

/*auto start button*/
.bx-auto .start {
	background: url(../images/ico-play.png) no-repeat; display:block; width:32px; height:32px;
}

/*auto stop button*/
.bx-auto .stop {
	background: url(../images/ico-stop.png) no-repeat; display:block; width:32px; height:32px;
}

/*
 * End color scheme styles
 */


/*pager links hover and active states*/
.bx-pager .pager-active,
.bx-pager a:hover {
	background: url(../images/nav-active.png) no-repeat;
}

/*pager wrapper*/
.bx-pager {
	position:absolute; left:400px; bottom:25px; z-index:9;
}

/*captions*/
.bx-captions {
	text-align:center;
	font-size: 12px;
	padding: 7px 0;
	color: #666;
}

/*auto controls*/
.bx-auto {
	position:absolute; right:20px; top:15px; z-index:10;
}

.bx-auto a { text-indent:-9999px; }











