@charset "utf-8";
/* CSS Document */
/*     index    */
/*

1: GENERAL LAYOUT
	container
		header
			title
			breadxrumbs
	footer
		footer_content
			recent
			archives
			pages
			contact
			copyright
2: HOME
	slideshow
	slideshow_shadow
	piecemaker
	slideshowbig
	slidenivo
	slidercoin
	
3: PORTFOLIO
	portfolio-filter
	pagination
	portfolio-list
	
4: BLOG
	post
		
5: POST
	authorbox
	reply
	
6: SIDEBAR
    sidebarcontent
    sidebarbottom
	widgetad
	widgetrecentcomment
	widgetrecentpost
	widgettab
	widgettweeter
	widgetflickr
	
7: GENERAL STYLING
	Typo
	Tips
	Highlights
	Dropcaps
	Blockquottes
	Checklist
	Buttons
	Images
	Tabs
	Toggles
	Tables
	Boxes
	Forms
*/

html { font-size:12px; }

/* 1: GENERAL LAYOUT */
/* container */
#container{ margin:0 auto; }
/*	header
			title
			breadcrumbs
*/	
#header{/* margin-bottom:20px;*/ position:relative; }
#header_wrapper { margin:0 auto; padding-top:45px; padding-bottom:30px; }
#header_top { background:rgba(0,0,0,0.4); height:10px; width:100%; position:absolute; top:0; border-top:1px solid #000; border-bottom:1px solid rgba(255,255,255,0.2); }
#header_bottom { background:rgba(0,0,0,0.4); height:10px; width:100%; position:absolute; bottom:0; border-bottom:1px solid #000; border-top:1px solid rgba(255,255,255,0.2); }
/*	Page title area */
		#page_title{ padding-top: 10px; position:relative;font-size:36px; line-height:48px; position:absolute; bottom:12px; height:48px; }
		
		#breadcrumbs { margin-top:0; }
		#breadcrumbs, #breadcrumbs a, breadcrumbs a:hover{ font-family:Arial, Helvetica, sans-serif; }

.content_title { margin-bottom:20px; border-bottom:1px solid #ccc; }
		
/*	footer
		footer_content
			recent
			archives
			pages
			contact
			copyright
*/
#footer{  margin-top:10px; position:relative; } 
#footer_top { background:rgba(0,0,0,0.4); height:10px; width:100%; position:absolute; top:0; border-top:1px solid #000; border-bottom:1px solid rgba(255,255,255,0.2); }
#footer_bottom { background:rgba(0,0,0,0.4); height:30px; width:100%; margin-top:20px; position:absolute; bottom:0; border-bottom:1px solid #000; border-top:1px solid rgba(255,255,255,0.2); }
#footer_wrapper { position:relative; padding-top:20px; padding-bottom:45px; }
#footer_wrapper a:hover, #footer_wrapper li{ color:#fff; } #footer_wrapper a { color:rgba(255,255,255,0.4); }
	#footer h3 { color:#fff; border-bottom:1px solid rgba(255,255,255,0.4); margin-bottom:10px; padding-bottom:10px; }
	#footer ul li { margin-bottom:0.5em; }
	#pages li { margin-bottom:0 !important; border-bottom:1px dotted rgba(255,255,255,0.4); }
	#pages li a { display:block; padding:0.4em 0.3em; text-decoration:none; }
	#pages li a:hover { background-color:rgba(0,0,0,0.2); }
	#footer p { color:#fff; }
				#copyright{ font-size:1em; padding:10px 0;	}
	span.address { display:block; padding-left:18px; margin-bottom:5px; background:url(../images/iconic-home.png) no-repeat 0 2px; }
	span.phone { display:block; padding-left:18px; margin-bottom:5px; background:url(../images/iconic-phone.png) no-repeat 0 2px; }
	span.email { display:block; padding-left:18px; margin-bottom:5px; background:url(../images/iconic-mail.png) no-repeat 0 2px; }
/* 2: HOME */
/*
	slideshow
	slideshow_shadow
	piecemaker
	slideshowbig
	slidenivo
	slidercoin
*/
		#slider{ 
			width:940px; position:relative; overflow:hidden;
			margin:0 auto; margin-top:10px ;padding:8px; 
			border:1px solid rgba(255,255,255,0.2); background:rgba(0,0,0,0.4);
		}
		
		#slideshow{ 
			height:470px; margin:0 auto; position:relative;
			padding: 10px; margin-top:20px; background:#fff; overflow:hidden;
		}
		#slideshow_shadow{
			height:65px;
			background:url(../images/slideshow_shadow.html);
		}
		
		#piecemaker {
		 	margin:-40px 0 0 -20px; 
		}
		
		#slideshowbig{ 
			width:1314px; height:470px; margin-top:20px; position:relative; left:-220px; overflow:hidden;
		}	
			#slidenav {
				 display:none; width:960px; position:absolute; top:280px; z-index:200;
			}
				#prev{
				  float:left;
				}
				#next{
				  float:right;
				}
			#slidenav li a {
				display:block; width:79px; height:76px; text-indent:-9999px;
			}
			#slidenav li#prev a { background:url(../images/nav-left.png); }
			#slidenav li#next a { background:url(../images/nav-right.png); }
			#slidenav li#prev a:hover { background:url(../images/nav-lefthover.png); }
			#slidenav li#next a:hover { background:url(../images/nav-righthover.png); }
			
		#slidenivo, #slidecycle{
			position:relative; width:940px; height:470px; background:url(../images/loader.gif) no-repeat 50% 50%;
		}
			#slidenivo img{ position:absolute; top:0; left:0; display:none; }
			
			#slidenivo a { border:0; display:block; }
			
		#slidercoin{
			position:relative; width:940px; height:470px; background:url(../images/loader.gif) no-repeat 50% 50%;
		}
		
		#slidecontent p { color:#fff; }
		
		#accordion{
			position:relative;
		}
		#accordion li{
			display:block; overflow:hidden; padding:0; cursor:pointer;	
			float:left; width:230px; margin-right:10px; position:relative;
		}
	 #accordion li span { display: block; width:920px; height:80px; padding:10px; position:absolute; bottom:0; left:0; background:rgba(0,0,0,0.5);
		border-top: 1px solid rgba(255,255,255,0.2); /*border-bottom: 1px solid rgba(255,255,255,0.2);*/ }
	 #accordion li span * {  color:#fff !important; text-shadow:0 1px 1px rgba(0,0,0,0.8); }
		
/* 3: PORTFOLIO */
/*
	portfolio-filter
	pagination
	portfolio-list
*/
	#portfolio-filter li { float:left; border:1px solid #ccc; padding:3px 10px; margin-right:10px; margin-bottom:20px; }
	
	#pagination{ margin: 20px 0 -10px 0; }
		#pagination a { border: 1px solid #ddd; font-weight:bold; text-decoration:none; margin:0 5px; padding:5px 10px; }
		#pagination a:hover { border: 1px solid #aaa; cursor:pointer; }
		#pagination span { font-weight:bold; }

	#portfolio-list li { margin-bottom:20px; /*border-bottom:1px solid #ddd;*/ }	
	.imghover { overflow:hidden; }
	#portfolio-list .imghover { padding:1px;/* border:1px solid #666;*/ }
		#portfolio-list .imghover a { 
			display:block; 
			position:relative; 
			text-decoration:none; 
			border-bottom:none;
			line-height:0;
		}
			.imghover a span { 
				z-index:98; 
				position:absolute; 
				width:100%; 
				height:100%; 
				display:none;
				text-align:center; 
			}
	
	.darken { background: url(../images/ico-zoom.png) 50% 50% no-repeat rgba(0, 0, 0, 0.3); border-radius:3px; }
	.pfshadow{ position:relative; top:-9px;/* Corrige algun posicionamiento en algun navegador*/ }

/* 4: BLOG */
/*	post
*/
	.post .imghover{ margin-bottom:20px; }
	.post .img { border:1px solid #ccc; padding:2px; }
  	.post .shadow{  margin-top:-7px; }
	
/* 5: POST */
/*
	authorbox
	reply
*/

	#authorbox { 
		background:#efefef; border:1px solid #ccc; padding:5px 15px 10px 15px;  margin-bottom:20px;
		-moz-border-radius:5px; -webkit-border-radius:5px 5px 5px 5px; border-radius:5px; 
	}
	.reply { 
		background:#efefef; border:1px solid #ccc; padding:15px; margin-bottom:20px;
		-moz-border-radius:5px; -webkit-border-radius:5px 5px 5px 5px; border-radius:5px; 
	}
	.reply p { margin-bottom:10px; }
	.reply p.indent { padding-left:60px; }
	
	.username { font-style:italic; font-weight:bold; font-size:18px; }	
	
/* 6: SIDEBAR */
/*
    sidebarcontent
    sidebarbottom
	widgetad
	widgetrecentcomment
	widgetrecentpost
	widgettab
	widgettweeter
	widgetflickr
*/
	#sidebar div h3{ margin-bottom:10px; }
	#sidebar { padding:20px 0 0 20px; }
	#sidebarleftbottom{ background:url(../images/sidebarseparatorbottom.html) no-repeat right top; height:43px; margin-top:-20px; }
		/*widgets*/
		#sidebar div { margin-bottom:20px; }
		#ad{ margin:0 auto; padding-left:10px; } 
		#sidebar #services img, #sidebar #widgetrecentcomment img, #widgetrecentpost img, #sidebar #widgettab img, #recent img  {
			float:left; margin:2px 5px;	
		}
		#sidebar #widgettab h4{ margin-bottom:5px; }
		#sidebar #widgettab span { margin-bottom:5px; }
		
		#widgetsearch p { word-spacing:0 !important; }
		#widgetarchive li, #widgetcategories li { float:left; width:50%; background:url(../images/check-play.png) no-repeat left center;  }
			#widgetarchive li a, #widgetcategories li a { padding-left:12px; }
		#widgetrecentcomment li, #widgettweeter li, #widgetrecentpost li,
		#widgetrecentpostnoimg li, #widgetrelatedpostnoimg li { /*border-bottom:1px solid #ccc;*/ margin-bottom:8px; }
		#widgetrecentpostnoimg li, #widgetrelatedpostnoimg li { padding-bottom:5px; }
		#widgetrecentpostnoimg li h4 a, #widgetrelatedpostnoimg li h4 a { font-weight:bold; }
		#widgetflickr li { border-bottom:none; }
		#widgetflickr ul { word-spacing:0px; }
			#marco a { word-spacing:0; }
			#marco > * { margin:5px; }
			#marco a img {  -moz-box-shadow:0 0 8px #ccc; -webkit-box-shadow:0 0 4px #ccc; box-shadow:0 0 4px #ccc; }		
		#testimonials p small { font-weight:bold; }
		#widgetad img { margin-bottom:2px; }
		ul#twitter_update_list li span { display:block; }
		#widgetflickr img, #widgetrecentpost img, #widgettab img {
			border:1px solid #ccc;
			padding:2px;
		}	
	#sidebar .tab2 li a{ line-height:21px; }
		
/*	#sidebar .tab2 li a { font-weight:normal; }*/
	#contact_form { margin-bottom:40px; }
/*
7: GENERAL STYLING
	General Typography
	Rounded corners
	Buttons
	Highlights
	Dropcaps
	Blockquottes
	Images
	Tables
	Pricing
	Boxes
	Tabs
	Checklists
	Top
	Videos
	Forms
	Tipsy
*/

/* General Typography */
a { text-decoration:none; font-weight:bold; }
p { margin-bottom:20px; }
hr { background-color:#ccc; }
.title2{ margin-bottom:5px; line-height:1.2em; }
	.title2 span {display:block; font-size:12px;  }
strong { font-weight:bold; }
.center { text-align:center; }
.right{ float:right; } 
.left { float:left; }
.tright { text-align:right; float:right; } .tjustify { text-align:justify; } .tcenter { text-align:center; }
.child { margin-left:20px; }
.whitespace{ height:60px; }

.slogan, .sloganbig, .sloganboxed, .slogancolor { padding:10px; margin:0; }
.sloganboxed { background:#E0E0E0; border:1px solid #999; }
.slogan span, .sloganboxed span, .slogancolor span { font-size: 30px; line-height: 60px; }

p, a, h4 a, 
.checklist1, .checklist2, .checklist3,  .checklist4, .checklist5, 
.checklist6, .checklist7, .checklist8, .checklist9, .checklist10, .checklist11, ol,
#sidebar #tab-navigation a, #sidebar #sidebarcontent div ul li,
#search_input, 
#footer ul li a, #address, 
.submit, .button, .search
.plain, .pricing, 
#widgetrecentpost {
	font-family:Arial, Helvetica, Times, sans-serif;
}
p, a, h4 a, #twitter,  
.checklist1, .checklist2, .checklist3,  .checklist4, .checklist5, 
.checklist6, .checklist7, .checklist8, .checklist9, .checklist10, .checklist11, ol
{ font-size:1em; line-height:1.5em;  word-spacing:0; } 

/* Rounded corners */
.radius10 { -moz-border-radius: 10px; -webkit-border-radius: 10px 10px 10px 10px; border-radius: 10px; }
.radius5 { -moz-border-radius: 5px; -webkit-border-radius: 5px 5px 5px 5px; border-radius: 5px; }

/* Buttons */
.button, input[type='submit'] {
	padding: 8px 10px; display: inline-block;
	background:#777; color:#fff;
	border:1px solid #222;outline: none;
	font: 1em/100% Arial, Helvetica, sans-serif;
	text-align: center; vertical-align:baseline; text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}
.button:hover, input[type='submit']:hover { text-decoration: none; background:#7D7D7D; color:#fff; } .button:active { position: relative; top: 1px; }
input[type='submit'] { padding:0 10px !important; }
.medium { font-size:1.286em; } .large{ padding:20px 30px; font-size:1.571em; }

.orange { color: #fef4e9; border: solid 1px #da7c0c; background:#f78d1d; } .orange:hover { background: #f47c20; color:#fff; }
.pink { color: #fff; border: solid 1px #c13087; background: #d84fa1; } .pink:hover { background: #cc4294; color:#fff; }
.violet { color: #fff; border: solid 1px #4e1bb7; background: #7853c4; } .violet:hover { background: #582cb1; color:#fff; }
.red { color: #fff; border: solid 1px #861230; background: #a72345; } .red:hover { background: #9d0f34; color:#fff; }
.brown { color: #fff; border: solid 1px #6b3703; background: #963; } .brown:hover { background: #824c15; color:#fff; }
.grey { color: #fff; border: solid 1px #322b2b; background: #524d4d; } .grey:hover { background: #363636; color:#fff; }
.blue { color: #fff; border: solid 1px #06233b; background: #004177; } .blue:hover { background: #133551; color:#fff; }
.green { color: #fff; border: solid 1px #4e7109; background: #81ab2d; } .green:hover { background: #64881c; color:#fff; }
.white { color: #333; border: solid 1px #333; background: #fff; text-shadow:0 1px 1px #fff; } .white:hover { background: #fff; color: #333; }
.yellow { color:#404040; border: solid 1px #cfa600; background: #fff540; text-shadow:0 1px 1px #fff; } .yellow:hover { background: #fff540; color:#404040; }

.button, input[type='submit']{
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgba(0,0,0,0.2)),
		color-stop(1, rgba(255,255,255,0.2))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgba(0,0,0,0.2) 0%,
		rgba(255,255,255,0.2) 100%
	);	
}

.search{ padding: 10px;}

/* Highlights */
.highlight { padding:1px 5px; }
.highlightdark { padding:1px 5px; }

/* Dropcaps */
p.dropcap1:first-letter{
	font-size:300%; 
	font-weight:bold; 
	float:left; line-height: 1em;
	padding:7px 5px 0 0; 
}
p.dropcap2:first-letter{ 
	font-size:300%; 
	font-weight:bold; 
	float:left; line-height: 1em;
	padding:5px; margin-right:5px;
}

/* Blockquottes */
.blockquotte { 
	margin: 10px 30px 10px 10px;  font-size:14px; line-height:1.6em;
	font-style:italic; text-indent:40px; background:url(../images/icon-quotte.png) no-repeat 0 0;
}
.qright {
	float:right; margin-left:30px;
}
.qleft { 
	float:left; padding-right:0;
}

/* Images */
.newimg{ 
	background:rgba(250,250,250,0.4); 
	padding:3px; 
	border:1px solid rgba(0,0,0,0.2); 
	border-radius:3px;
}

.imgitem { 
	background-color:#FFF; 
	padding:1px; 
	border:1px solid #626262;
}
.img_left { 
	display:block; 
	float:left; 
	margin:0 20px 0 0; 
}
.img_right { 
	display:block; 
	float:right; 
	margin:0 0 0 20px; 
}

.preload { background:url(../images/loader.gif) center center no-repeat #fff; line-height:0 !important; }

/* Tables */
.table1, .table2, .table3, .table4, .table5{ 
	width:100%; 
}
.table1 thead tr td, 
.table1 tfoot tr td, 
.table2 thead tr td, 
.table2 tfoot tr td,
.table3 thead tr td, 
.table3 tfoot tr td, 
.table4 thead tr td, 
.table4 tfoot tr td,
.table5 thead tr td, 
.table5 tfoot tr td{ 
	padding:10px !important; 
}
.table1 tbody tr td, .table2 tbody tr td, .table3 tbody tr td, .table4 tbody tr td, .table5 tbody tr td/**/ { 
	padding:5px 0 !important; 
}
tr { 
	background:#fff; 
}
tr:nth-child(2n+1) {
	background:#dfdfdf; 
}
.table1 thead tr, .table3 thead tr{ background:url(../images/tablehead.png) no-repeat center top #666; } 
.table1 tfoot tr, .table3 tfoot tr {
	background-color:#6c6c6c; 
	color:#fff; 
}
.table1 thead tr, .table1 tfoot tr, .table3 thead tr, .table3 tfoot tr { border:1px solid #666; color:#fff; }

.table2 tbody td, .table3 tbody td { border:1px solid #999; background:url(../images/submit_bg_hover.jpg) repeat-x #fff; color:#666; }

.table5 thead tr, 
.table5 tfoot tr {
	background-color:#666; 
	color:#fff; 
}
.table5 thead tr, .table5 tfoot tr  { border:1px solid #666; color:#fff; }

.table1 tbody tr:hover, .table4 tbody tr:hover, .table5 tbody tr:hover { background:#ccc; }

/* Pricing */
.pricingtable{/* box-shadow:1px 1px 3px rgba(0,0,0,0.3);*/ }
.pricingcolumn{ float:left; background:#dedede; }
.pricinghead{ padding:5px 0 10px; text-align:center; background:#b7b7b7; font-size:30px; color:#fff; font-family:"Cuprum",Helvetica,Arial,sans-serif; text-shadow:1px 1px 3px #666666; }
.pricingbody{ padding: 10px; text-align:center; color:#666; font-family:Arial,Helvetica,sans-serif; text-shadow:1px 1px 1px #fff; }
.pricingfooter{ height:45px; background:none; text-align:center; padding-bottom:10px; }
.pricingtable .cell { padding:10px 0; text-align:center; font-weight:bold;  }
.columnhighlight{ box-shadow:0 0 30px rgba(0,0,0,0.3); background:#fafafa; margin:-10px 0; padding:0 0 15px 0; position:relative; }
.columnhighlight .pricinghead{ font-size:32px; }
.cols3 .pricingcolumn{ width:33%; }
.cols4 .pricingcolumn{ width:25%; }

/* Boxes */
.info { 
	border:#009 2px solid; 
	padding:10px 0 10px 30px; 
	background:url(../images/ico-info.png) no-repeat 5px #93C9FF;  
}
.ok { 
	border:#060 2px solid; 
	padding: 10px 0 10px 30px; 
	background:url(../images/ico-ok.png) no-repeat 5px #CEFF9D; 
}
.warning { 
	border:#F60 2px solid; 
	padding:10px 0 10px 30px; 
	background:url(../images/ico-warning.png) no-repeat 5px #FF6; 
}
.error { 
	border:#DF0C00 2px solid; 
	padding:10px 0 10px 30px; 
	background:url(../images/ico-error.png) no-repeat 5px #FEA7A7; 
}
.closebox{ width:30px; height:30px; float:right; position:relative; top:-25px; }

/* Tabs */
.tab1 { height:28px; }
.tab1 li { 
	float:left; border:1px solid #999; margin-right:5px; padding:5px 20px 4px; background:url(../images/submit_bg.jpg) repeat-x bottom #fff;
	-moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;
 }
.tab1 .active{ background:#fff; border-bottom:1px solid #fff; }
.tab1 .active a { border-bottom:2px solid #fff; }
.panes1 { border:1px solid #999; }
.panes1 div { background:#fff; padding:10px; }

.tab2 { margin:0; padding:0; height:30px; border-left:1px solid #999; border-bottom:1px solid #999; }
.tab2 li { 
	float:left; margin:0; padding:0; height:31px; line-height:31px; border:1px solid #999; border-left:none; background:url(../images/submit_bg.jpg) repeat-x bottom #fff; overflow:hidden;
}
.tab2 li a{ display:block; padding:5px 20px; border:1px solid #fff; border-bottom:1px solid #999; }
.tab2 .active, .tab2 .active a { background:#fff; border-bottom:none; }

.panes2 { border:1px solid #999; border-top:none; position:relative; background:#fff; }
.panes2 div { padding:10px; }

/* Toggle */
.toggle{
	background:url(../images/togglexpand.png) no-repeat left center; padding-left:30px; cursor:pointer; line-height:29px;
}
.togglehide{ background:url(../images/togglehide.png) no-repeat left center; }
.content{
	padding:20px; margin-left:30px; border:1px solid #ccc; background:#eee;
	-moz-border-radius:5px; -webkit-border-radius: 5px 5px 5px 5px; border-radius:5px;	
}

/* checklists */
.checklist1 li, .checklist2 li, .checklist3 li, .checklist4 li, .checklist5 li, 
.checklist6 li, .checklist7 li, ol li, .checklist8 li, ol li, .checklist9 li, ol li, .checklist10 li, ol li, .checklist11 li, ol li { margin-bottom:5px; }
.checklist1 li{ background:url(../images/check-record.png) no-repeat left 4px; padding-left:12px; }
.checklist2 li{ background:url(../images/check-stop.png) no-repeat left 4px; padding-left:12px; }
.checklist3 li{ background:url(../images/check-accept.png) no-repeat left 4px; padding-left:12px; }
.checklist4 li{ background:url(../images/check-favorite.png) no-repeat left 4px; padding-left:12px; }
.checklist5 li{ background:url(../images/check-download.png) no-repeat left center; padding-left:12px; }
.checklist6 li{ background:url(../images/check-arrowright.png) no-repeat left 4px; padding-left:12px; }
.checklist7 li{ background:url(../images/check-play.png) no-repeat left center; padding-left:12px; }
.checklist8 li{ background:url(../images/check-chat.png) no-repeat left 4px; padding-left:18px; }
.checklist9 li{ background:url(../images/check-tag.png) no-repeat left center; padding-left:12px; }
.checklist10 li{ background:url(../images/check-rss.png) no-repeat left center; padding-left:12px; }
.checklisttweet li, #sidebar #widgettweeter li{ background:url(../images/check-bird.png) no-repeat left 2px; padding-left:20px; }
ol { counter-reset: item; }
ol li { padding-left:0; display:block; }
ol li:before { content: counter(item) ". "; counter-increment: item; font-weight:bold; }

/* Top bar */	
.top { border-bottom:thin solid #ccc; text-align:right; }

/* Videos */
#vimeo, #youtube { background:url(../images/loader.gif) center center no-repeat;}

/* Forms */
form input  { height:1.8em;padding:0 10px; }
form textarea { padding: 10px; } 
form input[type='text'], form input[type='password'] { padding:0 10px; }
form textarea, form input[type='text'], form input[type='password'], form input[type='file'], #uniform-selectfield, #uniform-filefield { 
	margin-bottom:20px; 
}
form label, .submit { 
	/*margin-left:20px;*/
}

.formerrorbox, .formerrorbox:focus{ -moz-box-shadow:0 0 4px #FB575B !important; -webkit-box-shadow:0 0 4px #FB575B !important; box-shadow:0 0 4px #FB575B !important; }

.submit { 
	height:30px; 
}
.labelform{ 
	line-height:18px; 
}			


/* Tipsy */
.tipsy { padding: 5px; font-size: 14px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(../images/tipsy.gif); }
  .tipsy-inner { padding:10px; background-color: black; color: white; max-width: 200px; text-align: center; }
  .tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px 3px 3px 3px; border-radius:3px; }
  .tipsy-north { background-position: top center; }
  .tipsy-south { background-position: bottom center; }
  .tipsy-east { background-position: right center; }
  .tipsy-west { background-position: left center; }
  
  