<% title "Login" %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h3 class="content_title">Login</h3>
        	
<% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %> 
      	
        	
<%= render 'form' %>


 <h3>Forgot Password?</h3> <p>In case,If you have forgotten your password! Contact Placement office to obtain your new password.</p> 
</div>
</div>

