<% title "User Details" %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h3 class="content_title"> <%=@user_session.username %></h3>
        	
 <% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %>



<div>
		<p align="right"><%= link_to 'Go to HOME',{:controller=>'home', :action=>'index'} %></p>
	</div>
</div>
</div>

